<!DOCTYPE html>
  <head>
  <meta charset="UTF-8">
  
  <h1>Firebase Test</h1>
  <p>Firebase console에 데이터가 추가 되었는지 확인하세요</p>
    // Initialize Firebase
  var config = {
     var config = {
    apiKey: "ABCDEFG",
    authDomain: "fir-example-ec491.firebaseapp.com",
    databaseURL: "https://fir-example-ec491.firebaseio.com",
    projectId: "fir-example-ec491",
    storageBucket: "fir-example-ec491.appspot.com",
    messagingSenderId: ""
  };
  firebase.initializeApp(config);
  
  var newPostKey = firebase.database().ref().child('posts').push().key;

  var postData = {
	brdno: newPostKey,
	brdwriter: "홍길동",
 	brdtitle: "게시판 제목", 
 	brdmemo: "게시물 내용", 
 	brddate: Date.now()
  };

  var updates = {};
  updates['/board/' + newPostKey] = postData;

  firebase.database().ref().update(updates);
  </script>
  
   </head>
  
  
  <script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyCTNYg3RPkwaoWS8rrzSML7FMLjMnR5qtE",
    authDomain: "kijin-jiyoung.firebaseapp.com",
    databaseURL: "https://kijin-jiyoung-default-rtdb.asia-southeast1.firebasedatabase.app",
    projectId: "kijin-jiyoung",
    storageBucket: "kijin-jiyoung.appspot.com",
    messagingSenderId: "481739830983",
    appId: "1:481739830983:web:8e294e391fad90dd49b0e2",
    measurementId: "G-QHT1S00PQJ"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>



 
  
  
  
  
  


		  

