<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>message sample for firebase (Realtime Database)</title>
</head>
<body>
		<table border="1" style="width:600px">
			<caption>message sample for firebase (Realtime Database)</caption>
			<colgroup>
				<col width='15%' />
				<col width='*%' />
			</colgroup>
			<tbody>
				<tr>
					<td>name</td> 
					<td><%=row.name%></td> 
				</tr>
				<tr>
					<td>content</td> 
					<td><%=row.content%></td> 
				</tr>
			</tbody>
		</table>    
		<a href="#" onclick="history.back(-1)">List</a>
		<a href="messageDelete?no=<%=row.no%>">Delete</a>
		<a href="messageForm?no=<%=row.no%>">Modify</a>
</body>
</html>
