
body {
   max-width: 600px;
   font-size: 16px;
   font-family: 'MapoFlowerIsland';	
   text-align: center;	
   vertical-align: middle;
   margin: 0 auto;
   transition: background 1s ease;
   color: #000;
   background-color: #FEF7EE;
   justify-content: center;	
   }

@media {max-width: 600px}
	
	
	
h3.maintitle {
   letter-spacing: 1.5px;
   text-align: center;
   vertical-align: middle;
   justify-content: center;
   margin: 100px 0 30px;
   color: #000;
   }

h3.accordion {
   letter-spacing: 1.5px;
   color: #000;
   text-align: center;	
   vertical-align: middle;
   margin: 20px 0 30px;
   max-width: 600px;
   }

.accordioncon {
   display:none;
  text-align: center;	
  vertical-align: middle;
  line-height: 1.8;
  margin: 50px 0 30px;
}

p.accordiondesc {
margin:-20px 0px;
font-size:12px;
font-family:'MapoFlowerIsland';
cursor:pointer;		
}

p.maincontent {
letter-spacing: 1.5px;
line-height: 1.8;
}




.Main-photo {
    width: 100%;
    max-width: 666px;
   }


p.invitation  {
   font-size: 16px;
   line-height: 35px;
   letter-spacing: 1px;
   margin: 50px 0 50px;	
   color: #000;
}



p.name { 
   font-size: 16px;
   letter-spacing: 1px;
   text-align: center;
   line-height: 1.8;	
   margin: 20px 0 20px;
}


.announcement {
    font-size: 14px;
    line-height: 10px;
    justify-content: center;
    margin: 30px 0 10px;	
}


p.photodescription {
   font-size: 16px;
   line-height: 35px;
   letter-spacing: 1.5px;
   margin: 50px 0 50px;
   color: #000;
}

.map {
   font-size: 13px;
   line-height: 12px;
   margin: 10px 0 80px;
}

.payparents {
    text-decoration-line: underline;
    text-underline-offset: 14px;
    font-size: 15px;
    margin: 20px 0 20px;	
}

.parents,
.pay {
    font-size: 15px;
    width: 100%;
    text-align:center;
    line-height: 2.5;	
}

.kato {
margin: 5px 10px 10px 20px;
}




.copy {
    display: inline-block;
    width: 28px;
    height: 14px;
    padding: 2px;
    cursor:pointer;
    text-align:center;
    vertical-align:middle;
    background-color: #F2F2F2;
    font-family: 'MapoFlowerIsland';
}


.buttoncopy {
    display: inline-block;
    width: 80px;
    height: 25px;
    padding: 2px;
    cursor:pointer;
    text-align:center;
    vertical-align:middle;
    border: 1px solid;
    border-color: #FFF;
}





.copyright-wrap {
     width: 100%;
     max-width: 666px;
     font-size: 12px;
     text-align:center;
     font-family: 'Roboto Slab', serif;
     line-height: 10px;
}


 < ! - - 아이콘 - - >


img.telephone {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0.1px #F2F2F2;
    border-radius: 10px;	
}

img.kakao {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 0.1px #F2F2F2;
    border-radius: 10px;	
}


img.navermap {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius:10px;
    border: 0.1px solid;
    border-color: #F2F2F2;
}


img.kakaonavi {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius:10px;
    border: 0.1px solid;
    border-color: #F2F2F2;
}


img.tmap {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius:10px;
    border: 0.1px solid;
    border-color: #F2F2F2;
}
	

img.kakopay,
img.tosspay {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0.1px solid;
    border-color: #F2F2F2;
}


img.sms,
img.kakotalk {
    display: inline-block;
    width: 40px;
    height: 40px;
}	

 <!------------ 아이콘 ------------>	

	

 < !------------ 타이핑 ------------ >

.typing-txt {display:none;}
ul{list-style:none;}
.typing ul li{
    display:block;
    font-family: 'CaveatBrush';
    font-size: 80px;
    text-align: center;
    line-height: 100px;	
}
.typing ul li.on {  
    display: inline-block; 
    animation-name: cursor; 
    animation-duration: 0.2s; 
    animation-iteration-count: 3; 
} 
@keyframes cursor{ 
    0%{border-right: 1px solid #fff} 
    50%{border-right: 1px solid #000} 
    100%{border-right: 1px solid #fff} 
}
  < !------------ 타이핑 ------------ >	
	


  < !------------ 모달 ------------ >

.button{font-family:'AppleSD';border-radius:40px;font-size:12px;display:inline-block; padding: 0px 15px; text-decoration:none; color:#fff; background:#646059; margin:2px;}
#modal{
    display:none;
    position:fixed; 
    width:100%; height:100%;
    top:0; left:0; 
    background:rgba(0,0,0,0.3);
}
.modal-con{
    display:none;
    position:fixed;
    width:250px; height:200px;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
    background:#fff;
    border-radius: 10px;
    text-align: center;
}
.modal-con .title{
    text-align:center; 
    font-size:14px; 
    padding: 10px;
    color:#000;	
    background-color:#fff;
    font-family: 'MapoFlowerIsland';
    text-decoration-line: underline;
    text-underline-offset: 14px;
    line-height: 20px;	
}
.modal-con .con{
    font-size:14px;
    line-height:25px;
    padding: auto;
    vertical-align: middle;
    text-align:center;
    font-family: 'MapoFlowerIsland';
}
.modal-con .close{
    display:block;
    position:absolute;
    width:125.5px; height:40px;
    border-radius: 0 0 10px 0px;	
    border: 0.2px solid #646059;
    text-align: center;
    vertical-align: middle;
    line-height: 39px;	
    text-decoration:none;
    background-color:#FFF;
    color:#000; font-size:14px;
    font-family: 'MapoFlowerIsland';
    right:-1px; top:163px;
}

.modal-con .copypay{
    display:block;
    position:absolute;
    width:125.5px; height:40px;
    border-radius: 0 0 0px 10px;
    border: 0.2px solid #646059;
    text-align: center;
    vertical-align: middle;
    line-height: 39px;
    text-decoration:none;
    background-color:#646059;
    color:#FFF; font-size:14px;	
    font-family: 'MapoFlowerIsland';	
    right:124.5px; top:163px;
}




.surveymodal-con{
    display:none;
    position:fixed;
    z-index: 20;
    width:250px; height:520px;
    min-height:50%;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
    background:#fff;
    border-radius: 10px;
    padding: 10px 5px 0px 5px;
    overflow:scroll; 
}
.surveymodal-con .con{
    font-size:12px;
    padding: auto;
    vertical-align: middle;
    text-align:center;
    font-family: 'MapoFlowerIsland';
}
.surveymodal-con .close{
    display:block;
    position:absolute;
    width:40px; height:20px;
    border: 1px solid #646059;
    border-radius:5px;
    text-align: center;
    vertical-align: middle;
    padding:auto;
    text-decoration:none;
    background-color:#fff;
    color:#000; font-size:11px;
    font-family:'AppleSD';
    right:15px; top:25px;
    line-height: 1.8;	
}

  < !------------ 모달 ------------ >





  < !------------ 참석조사 ------------ >
#surveytitle{text-align:center;vertical-align: middle;font-size:13px;margin: 30px 0px 0px;}
#description{text-align:center; margin-bottom:12px; font-size:12px;font-family: 'MapoFlowerIsland';}

.postformbox {max-width:300px;margin: 0 auto;font-size:13px;font-family:'AppleSD';}
.type-select {
    padding: 2px 5px 10px 5px;
}

.type-select input[type=radio]{
    display: none; 
}

.type-select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 35px;
    width: 82px;
    border: 1px solid #ccc;
    border-radius: 10px;
    line-height: 35px;
    text-align: center;
    font-size:12px;
}

.type-select input[type=radio]+label{
    background-color: #fff;
    color: #333;
}

.type-select
input[type=radio]:checked+label{
    background-color: #333;
    color: #fff;
}

 .input1 {
      display: inline-block;
      width: 170px;
      height: 40px;
      border-radius: 10px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      font-size: 12px;
      padding: 10px;	 
    }

.input2 {
      display: inline-block;
      width: 155px;
      height: 40px;
      border-radius: 10px;
      border: 1px solid #ccc;
      padding: 5px;
      box-sizing: border-box;
      font-size: 12px;
      margin: 0px 2px 0px 0px;	
    }

.input3 {
      display: inline-block;
      width: 170px;
      height: 90px;
      border-radius: 10px;
      border: 1px solid #ccc;
      padding: 10px;
      box-sizing: border-box;
      margin: 4px 4px;
      max-width:100%;
    }



.selectbox {
  display: inline-block;
  width: 170px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
}



.selectbox .select {
  width: inherit;
  height: inherit;
  background: transparent;
  border: 0 none;
  outline: 0 none;
  padding: 0 5px;
  position: relative;
  z-index: 3; // select가 위로 올라와야 함
}
.selectbox .select option {
  color: #fff;
  padding: 3px 0;
  font-size: 12px;
}





   < ! - - 참석조사 - - >





 <!------------ 스와이프 ------------>
    body {
      position: relative;
      height: 100%;
    }
    .swiper {
      width: 100%;
      height: 100%;
    }
  
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      justify-content: center; 
      align-items: center; 
  }  

.swiper-wrapper {
  display: flex;
  position: relative;
  z-index: 0;
}

/* (1) */
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}
.swiper-pagination-bullet {
  width: 30px;
  height: 4px;
  border-radius: 5px;
  color: #696969 !important;
  background-color: rgba(255, 255, 255, 0.5);
  transition: width .9s;
  border: 1px solid #fffafa transparent;
 }

 .swiper-pagination-bullet-active {
      color: #CFCFCF !important;
      background: #E8E8E8 !important;
}

  /* (2) */
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 0;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 0;
}
.swiper-button-next,
.swiper-button-prev {
  top: 0;
  margin-top: 0;
  width: 33.33%;
  height: 100%;
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: '';
}

.changing,
.changed {  
  transform:translateX(-80px);
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.changing {
  transition:transform 0.3s;
  pointer-events:none;
}

.changed {  
  transition:transform 0.9s;
}

.changing.swiper-slide-active,
.changed.swiper-slide-active {
  transform:translateX(0);
}

.swiper-slide-active ~ .changing,
.swiper-slide-active ~ .changed {
  transform:translateX(80px);
}

.changing .img-wrap {
  transition:transform 0.5s;
}

.changed .img-wrap {  
  transition:none;
}

.changing.swiper-slide-active .img-wrap,
.changed.swiper-slide-active .img-wrap {
  transform:scale(1.2);
}



@media screen and (max-width: 768px) {
  .swiper-container::after,
  .swiper-container::before {
    display: none;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

 <!------------ 스와이프 ------------>


	

	
	
