

body { 
    margin: 0 auto;
    width: 100%;
    max-width: 666px;
    text-align: center;
    vertical-align: middle;
    background-color: #FFF8EE; 
    font-family: 'MapoFlowerIsland';
    font-size: 16px;
    line-height: 1.5;
    text: #000;
    }

@media (max-width: 600px)


.main {
  MapoFlowerIslandfont-family: 'MapoFlowerIsland', monospace;  
  font-size: 16x;
  font-weight: bold;
  width: 400px;
  background: black;
}


/* Animation */

p {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

p: nth-child(2)
{
    white-space:nowrap;
    overflow:hidden;    
   animation: animated-text2 4s steps(29,end) 1s 1 normal both;
    -webkit-animation-delay: 5s; 
animation-delay: 5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

@keyframes animated-text2{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}






 p.sub-Title {
    font-size: 17px;
   font-weight: 600;
   letter-spacing: 3px;
   }




p.Main-name {
   font-size: 15px;
   font-weight: 100;
   letter-spacing: 3px;
   }


p.Date,
p.Time-place {
   font-size: 14px;
   letter-spacing: 2px;
   line-height: 1.3;
   }


.Main-photo {
    width: 100%;
    max-width: 666px;
   }



p.invitation  {
   font-size: 14px;
   font-weight: 500;
   letter-spacing: 2px; 
   }



p.name {
   font-weight: 500;
   }	


p.contact {
    font-size: 13px;
    line-height: 10px;
}
  

img.telephone {
    display: inline-block;
    width: 40px;
    height: 40px;
}


img.kakao {
    width: 40px;
    height: 40px;
    display:inline-block;
    border:0.1px;
    border-color:#F2F2F2;     
}

  < !-- 갤러리 영역 -- >
     html,
    body {
      position: relative;
      height: 100%;
    }
    .swiper {
      width: 100%;
      height: 100%;
    }
  
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      justify-content: center; 
      align-items: center; 
  }  

.swiper-wrapper {
  display: flex;
  position: relative;
  z-index: 0;
}

/* (1) */
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}
.swiper-pagination-bullet {
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: width .5s;
  border: 1px solid Snow transparent;
 }


  /* (2) */
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 0;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 0;
}
.swiper-button-next,
.swiper-button-prev {
  top: 0;
  margin-top: 0;
  width: 33.33%;
  height: 100%;
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: '';
}
@media screen and (max-width: 768px) {
  .swiper-container::after,
  .swiper-container::before {
    display: none;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  < !-- 갤러리 영역 -- >

.button {
    display: inline-block;
    padding: 2px;
    cursor:pointer;
    text-align:center;
    vertical-align:middle;
    background-color: #F2F2F2;
    text:#fff;
    border-radius:3px;
    border:none;
    font-family: 'MapoFlowerIsland';
}




.copy {
    display: inline-block;
    width: 28px;
    height: 14px;
    padding: 2px;
    cursor:pointer;
    text-align:center;
    vertical-align:middle;
    background-color: #F2F2F2;
    font-family: 'MapoFlowerIsland';
}





.buttoncopy {
    display: inline-block;
    width: 50px;
    height: 25px;
    padding: 2px;
    cursor:pointer;
    text-align:center;
    vertical-align:middle;
}



img.navermap {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0.1px solid;
    border-color: #F2F2F2;
}


img.kakaonavi {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0.1px solid;
    border-color: #F2F2F2;
}


img.tmap {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0.1px solid;
    border-color: #F2F2F2;
}


div.pay,
div.share {
    width: 40px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    width: 100%;
}


img.kakopay,
img.tosspay {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0.1px solid;
    border-color: #F2F2F2;
}


img.sms,
img.kakotalk {
    display: inline-block;
    width: 40px;
    height: 40px;
}


.copyright-wrap {
     width: 100%;
     max-width: 666px;
     font-size: 12px;
     letter-spacing: 2px;
     font-family: 'Roboto Slab', serif;
     line-height: 30px;
}
