

body { 
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    text-align: center;
    vertical-align: middle;
    font-family: 'MapoFlowerIsland';
    font-size: 16px;
    line-height: 1.5;
    transition: background 1s ease;
    text: #000;
    background-color: #FEF7EE;
    }




@media (max-width: 600px)

	
	
.second-page {
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    }

p.main {
  margin: auto auto;
  letter-spacing: 3px;
  overflow: hidden;
  padding: 4px;
  font-family: 'CaveatBrush';	
  position: relative;
  width: 14em;
  border-right: 22px #000;
  font-size: 35px;
  text-align: center; 
  black-space: nowrap;
  line-height: 50px;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 2s steps(18) 1s 1 normal both,
    blinkTextCursor 200ms steps(24) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: #000;
  }
  to {
    border-right-color: transparent;
  }
}



p.mainname,
p.date,
p.place {
   font-size: 16px;
   font-weight: 600;
   letter-spacing: 3px;
   }

	


	
	
	


 p.sub-Title {
    font-size: 17px;
   font-weight: 600;
   letter-spacing: 3px;
   }




p.Main-name {
   font-size: 15px;
   font-weight: 100;
   letter-spacing: 3px;
   }


p.Date,
p.Time-place {
   font-size: 14px;
   letter-spacing: 2px;
   line-height: 1.3;
   }


.Main-photo {
    width: 100%;
    max-width: 666px;
   }



p.invitation  {
   font-size: 14px;
   font-weight: 500;
   letter-spacing: 2px; 
   }



p.name {
   font-weight: 500;
   }	


p.contact {
    font-size: 13px;
    line-height: 10px;
}
  

img.telephone {
    display: inline-block;
    width: 40px;
    height: 40px;
}


img.kakao {
    width: 40px;
    height: 40px;
    display:inline-block;
    border:0.1px;
    border-color:#F2F2F2;     
}

  < !-- 갤러리 영역 -- >
     html,
    body {
      position: relative;
      height: 100%;
    }
    .swiper {
      width: 100%;
      height: 100%;
    }
  
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      justify-content: center; 
      align-items: center; 
  }  

.swiper-wrapper {
  display: flex;
  position: relative;
  z-index: 0;
}

/* (1) */
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}
.swiper-pagination-bullet {
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: width .5s;
  border: 1px solid Snow transparent;
 }


  /* (2) */
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 0;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 0;
}
.swiper-button-next,
.swiper-button-prev {
  top: 0;
  margin-top: 0;
  width: 33.33%;
  height: 100%;
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: '';
}
@media screen and (max-width: 768px) {
  .swiper-container::after,
  .swiper-container::before {
    display: none;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  < !-- 갤러리 영역 -- >

.button {
    display: inline-block;
    padding: 2px;
    cursor:pointer;
    text-align:center;
    vertical-align:middle;
    background-color: #F2F2F2;
    text:#fff;
    border-radius:3px;
    border:none;
    font-family: 'MapoFlowerIsland';
}




.copy {
    display: inline-block;
    width: 28px;
    height: 14px;
    padding: 2px;
    cursor:pointer;
    text-align:center;
    vertical-align:middle;
    background-color: #F2F2F2;
    font-family: 'MapoFlowerIsland';
}





.buttoncopy {
    display: inline-block;
    width: 50px;
    height: 25px;
    padding: 2px;
    cursor:pointer;
    text-align:center;
    vertical-align:middle;
}



img.navermap {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0.1px solid;
    border-color: #F2F2F2;
}


img.kakaonavi {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0.1px solid;
    border-color: #F2F2F2;
}


img.tmap {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0.1px solid;
    border-color: #F2F2F2;
}


div.pay,
div.share {
    width: 40px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    width: 100%;
}


img.kakopay,
img.tosspay {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0.1px solid;
    border-color: #F2F2F2;
}


img.sms,
img.kakotalk {
    display: inline-block;
    width: 40px;
    height: 40px;
}


.copyright-wrap {
     width: 100%;
     max-width: 666px;
     font-size: 12px;
     letter-spacing: 2px;
     font-family: 'Roboto Slab', serif;
     line-height: 30px;
}
