
body { 
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    text-align: center;
    vertical-align: middle;
    font-family: 'MapoFlowerIsland';
    font-size: 16px;
    line-height: 1.5;
    transition: background 1s ease;
    text: #000;
    background-color: #FEF7EE;
    }



@media (max-width: 600px)

	
	





  < !------------ 타이핑 ------------ >


.typing-txt{
  display: none;
  margin: auto auto;
  letter-spacing: 3px;
  padding: 4px;
}
ul{list-style:none;}
.typing ul li{
  font-family: 'CaveatBrush';
  font-size: 80px;
  text-align: center;
  line-height: 100px;	
  display:block;
}
.typing ul li.on {  
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.2s; 
  animation-iteration-count: 1; 
} 
@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}

  < !------------ 타이핑 ------------ >







  < !------------ 카운트다운 ------------ >

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

.countdown h1 {
  font-size: 1vw;
  color: #F9A2C7;
  font-family: Century Gothic, Lucida Grande;	
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: row;
  height: 100vh;
  margin: 0;	
}
.countdown span {
  color: #196F3D;
  font-family: Century Gothic, Lucida Grande;	
}
.countdown .day, .countdown .hour, .countdown .min, .countdown .sec {
  padding: 1vw 3vw;
  text-align: center;
  font-family: Century Gothic, Lucida Grande;
  color: #000;	
}
.countdown .day .num, .countdown .hour .num, .countdown .min .num, .countdown .sec .num {
  display: block;
  font-size: 8vw;
  line-height: 1em;
  font-family: Century Gothic, Lucida Grande;
  color: #F9A2C7;	
}
.countdown .day .word, .countdown .hour .word, .countdown .min .word, .countdown .sec .word {
  display: block;
  font-size: 1vw;
  color: #000;
  font-family: Century Gothic, Lucida Grande;
}


  < !------------ 카운트다운 ------------ >



  < !------------ 모달 ------------ >
a.button{display:inline-block; padding: 5px 15px; text-decoration:none; margin:20px; color:#fff; font-size:13px; font-family:'MapoFlowerIsland'; border-radius:10px; background:#484644;}
#modal{
  display:none;
  position:fixed; 
  width:100%; height:100%;
  top:0; left:0; 
  background:rgba(0,0,0,0.3);
}
.modal-con{
  display:none;
  position:fixed;
  width:250px; height:200px;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
  background:#fff;
  border-radius: 10px;
}
.modal-con .title{
  text-align:center; 
  font-size:14px; 
  padding: 10px;
  color:#000;	
  background : FFF8EE;
  font-family: 'MapoFlowerIsland';	
}
.modal-con .con{
  font-size:14px;
  line-height:25px;
  padding:15px;
  text-align:center;
  font-family: 'MapoFlowerIsland';	
}
.modal-con .close{
  display:block;
  position:absolute;
  width:126px; height:35px;
  border-radius: 0 0 10px 0px;
  border: 0.5px solid #000;
  text-align:center; 
  line-height: 30px;
  text-decoration:none;
  background-color:#000;
  color:#FFF; font-size:14px;
  font-family: 'MapoFlowerIsland';
  right:-1px; top:170px;
}

.modal-con .copypay{
  display:block;
  position:absolute;
  width:126px; height:35px;
  border-radius: 0 0 0px 10px;
  border: 0.5px solid #000;
  text-align:center; 
  line-height: 30px;
  text-decoration:none;
  background-color:#FFF;
  color:#000; font-size:14px;
  font-family: 'MapoFlowerIsland';
  right:124.5px; top:170px;
}



  < !------------ 모달 ------------ >














.second-page {
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    }







p.mainname,
p.date,
p.place {
   font-size: 16px;
   font-weight: 600;
   letter-spacing: 3px;
   }

	


	
	
	


 p.sub-Title {
    font-size: 17px;
   font-weight: 600;
   letter-spacing: 3px;
   }




p.Main-name {
   font-size: 15px;
   font-weight: 100;
   letter-spacing: 3px;
   }


p.Date,
p.Time-place {
   font-size: 14px;
   letter-spacing: 2px;
   line-height: 1.3;
   }


.Main-photo {
    width: 100%;
    max-width: 666px;
   }



p.invitation  {
   font-size: 14px;
   font-weight: 500;
   letter-spacing: 2px; 
   }



p.name {
   font-weight: 500;
   }	


p.contact {
    font-size: 13px;
    line-height: 10px;
}
  

img.telephone {
    display: inline-block;
    width: 40px;
    height: 40px;
}


img.kakao {
    width: 40px;
    height: 40px;
    display:inline-block;
    border:0.1px;
    border-color:#F2F2F2;     
}

  < !-- 갤러리 영역 -- >
     html,
    body {
      position: relative;
      height: 100%;
    }
    .swiper {
      width: 100%;
      height: 100%;
    }
  
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      justify-content: center; 
      align-items: center; 
  }  

.swiper-wrapper {
  display: flex;
  position: relative;
  z-index: 0;
}

/* (1) */
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}
.swiper-pagination-bullet {
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: width .5s;
  border: 1px solid Snow transparent;
 }


  /* (2) */
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 0;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 0;
}
.swiper-button-next,
.swiper-button-prev {
  top: 0;
  margin-top: 0;
  width: 33.33%;
  height: 100%;
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: '';
}
@media screen and (max-width: 768px) {
  .swiper-container::after,
  .swiper-container::before {
    display: none;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  < !-- 갤러리 영역 -- >





.copy {
    display: inline-block;
    width: 28px;
    height: 14px;
    padding: 2px;
    cursor:pointer;
    text-align:center;
    vertical-align:middle;
    background-color: #F2F2F2;
    font-family: 'MapoFlowerIsland';
}





.buttoncopy {
    display: inline-block;
    width: 80px;
    height: 25px;
    padding: 2px;
    cursor:pointer;
    text-align:center;
    vertical-align:middle;
    border: 1px solid;
    border-color: #FFF;
}



img.navermap {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0.1px solid;
    border-color: #F2F2F2;
}


img.kakaonavi {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0.1px solid;
    border-color: #F2F2F2;
}


img.tmap {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0.1px solid;
    border-color: #F2F2F2;
}


.parents {
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    width: 100%;
}




div.pay,
div.share {
    width: 40px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    width: 100%;
}


img.kakopay,
img.tosspay {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0.1px solid;
    border-color: #F2F2F2;
}


img.sms,
img.kakotalk {
    display: inline-block;
    width: 40px;
    height: 40px;
}


.copyright-wrap {
     width: 100%;
     max-width: 666px;
     font-size: 12px;
     letter-spacing: 2px;
     font-family: 'Roboto Slab', serif;
     line-height: 30px;
}
